@model Announcement

@{
    ViewData["Title"] = "AddAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">YENİ HİZMET KAYDI</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Duyuru Adı</label>
                    <input type="text" class="form-control" id="" asp-for="AnnouncementName" placeholder="Başlık">
                </div>
                <div class="form-group">
                    <label for="">Açıklama</label>
                    <textarea asp-for="Description" cols="30" rows="5" class="form-control" placeholder="Açıklamayı buraya yazınız..."></textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary me-2">Ekle</button>
                <a href="/Announcement/Index/" class="btn btn-outline-danger">Vazgeç</a>
            </form>
        </div>
    </div>
</div>