@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Excel Raporları</h2>
<br />
<br />
<br />
<div class="form-group">
    <a href="/Report/StaticReport" class="btn btn-outline-info">Statik Rapor</a>
</div>
<br />
<div class="form-group">
    <a href="/Report/MessageReport" class="btn btn-outline-info">Mesaj Raporlar</a>
</div>
<br />
<div class="form-group">
    <a href="/Report/AnnouncementReport" class="btn btn-outline-info">Duyuru Raporları</a>
</div>