<div class="container-fluid page-body-wrapper">
    <!-- partial:~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/index.html">
                    <i class="mdi mdi-home menu-icon"></i>
                    <span class="menu-title">Ana sayfa</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="mdi mdi-circle-outline menu-icon"></i>
                    <span class="menu-title">Hizmetlerimiz</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/forms/basic_elements.html">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">Takım Arkadaşlarımız</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/charts/chartjs.html">
                    <i class="mdi mdi-chart-pie menu-icon"></i>
                    <span class="menu-title">Grafikler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/tables/basic-table.html">
                    <i class="mdi mdi-grid-large menu-icon"></i>
                    <span class="menu-title">İstatistikler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/icons/mdi.html">
                    <i class="mdi mdi-emoticon menu-icon"></i>
                    <span class="menu-title">Duyurular</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/icons/mdi.html">
                    <i class="mdi mdi-emoticon menu-icon"></i>
                    <span class="menu-title">Gelen Mesajlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/icons/mdi.html">
                    <i class="mdi mdi-emoticon menu-icon"></i>
                    <span class="menu-title">Adres Bilgileri</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/icons/mdi.html">
                    <i class="mdi mdi-emoticon menu-icon"></i>
                    <span class="menu-title">Görseller</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/icons/mdi.html">
                    <i class="mdi mdi-emoticon menu-icon"></i>
                    <span class="menu-title">Ayarlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/documentation/documentation.html">
                    <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                    <span class="menu-title">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/partials/_footer.html -->
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com </a>2021</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Only the best <a href="https://www.bootstrapdash.com/" target="_blank"> Bootstrap dashboard  </a> templates</span>
            </div>
        </footer>
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>