@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("~/Views/AdminPartials/PartialHead.cshtml")
<body>
    <div class="container-scroller">
        @await Html.PartialAsync("~/Views/AdminPartials/PartialNavbar.cshtml")
        @RenderBody()
        @await Html.PartialAsync("~/Views/AdminPartials/PartialSidebar.cshtml")
    </div>
    @await Html.PartialAsync("~/Views/AdminPartials/PartialScript.cshtml")
</body>

</html>
