@model Job

@{
    ViewData["Title"] = "AddJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<form method="post">
    @Html.Label("Meslek Adı")
    @Html.TextBoxFor(x => x.JobName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.JobName, "", new { style = "color:red" })
    <br />
    <button class="btn btn-outline-primary">Meslek Ekle</button>
    <a href="/Job/Index/" class="btn btn-outline-danger">Vazgeç</a>
</form>